<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }} - ginny mae :)</title>
    <link rel="stylesheet" href="/assets/css/base.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The personal homepage of Ginny Mae, a cute and funny girl who likes to be weird. And gay.">
    <link rel="canonical" href="https://gintoxicat.ing{{ page.url }}">

    <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Ginny Mae" />
    <link rel="manifest" href="/assets/favicon/site.webmanifest" />

    <link href="/assets/css/prism-okaidia.css" rel="stylesheet">
  </head>
  <body>
    <div id="container">
      <div id="topBar">
        <div class="marquee">
          <div>
            <span>Welcome to my website!</span>
            <span>Welcome to my website!</span>
          </div>
        </div>
      </div>

      <div id="headerArea">
        <nav id="navbar">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
            <li><a href="/about/">About Me!</a></li>
            <li><a href="/links/">Cool Links</a></li>
            <li><a href="/contact/">Contact Me!</a></li>
          </ul>
        </nav>
      </div>

      <div id="flex">
        <aside id="leftSidebar">
          <h2>Updates</h2>
          <div class="box">
            <h2 style="margin-top: 0px; margin-bottom: 10px; text-align: center;"><a href="/blog/" style="text-decoration-style: dotted;">Latest Blogs</a></h2>
		        <h4 class="rssLinkHeader"><a href="https://gay.mae.lol/blog/feed.xml" class="rssLinkBar">
			      <img src="/assets/images/rss.png" class="rssLinkImage" alt=""> <span class="rssLinkText">rss feed</span></a></h4>

		        {%- for post in collections.post | reverse | limit(2) -%}
		          <hr>
              <h4 class="rssTitle"><a href="{{ post.url }}">{{ post.data.title }}</a></h4>
              <h5 class="rssSubtitle">{{ post.date | cute_date_only }}</h5>
              {{ post.data.description | renderContent("md") | safe }}
            {%- endfor -%}
          </div>
          <h2>Linkies!</h2>
          <ul>
            <li><a href="https://pronouns.cc/@ginny" target="_blank">Pronouns Page</a></li>
            <li><a href="https://transister.social/@gintoxicating" target="_blank">fediverse</a></li>
            <li><a href="https://codeberg.org/gintoxicating" target="_blank">git (codeberg)</a></li>
            <li><a href="/contact/">contact me!</a></li>
          </ul>
        </aside>
        <main>

	  {{ content | safe }}

	</main>
      </div>

      <footer id="footer">
	site generated with <a href="https://www.11ty.dev/" target="_blank">11ty</a>
	~~
	<a href="https://sadgrl.online/resources/" target="_blank">template</a> by sadgrl
	<br>
	<a href="https://codeberg.org/gintoxicating/gintoxicat.ing" target="_blank">source code</a> by ginny
	~~
	all site content is <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">public domain</a>
      </footer>

    </div>

    <script data-goatcounter="https://ginny.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>

  </body>
</html>
